.container {
    display: flex;
    margin: 30px;
}

.category-item {
    flex-grow: 1;
    border: 2px solid rgb(198, 226, 179);
    padding: 30px;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(11, 130, 227);
}

.details {
    display: flex;
    justify-content: center;
}

.form-wrapper {
    margin-bottom: 10px;
    padding: 10px;
    margin: auto;
    width: 50%;
}

.data-table {
    padding: 20px;
    margin: auto;
    width: 70%;
}

body > table{
    width: 80%;
}

table{
    border-collapse: collapse;
}
table.list{
    width:100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even),table.list thead>tr {
    background-color: #dddddd;
}

input[type=text], input[type=number], select, textarea{
    width: 100%;
    padding: 8px 20px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
}

input[type=submit] {
    width: 30%;
    background-color: black;
    color: white;
    padding: 10px 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form div.form-action-buttons{
    text-align: right;
}
